
<div class="content-header">
     <div class="container-fluid">
          <div class="row">
               <div class="col-sm-6">
                    <h1 class="m-0 text-dark">اطلاعات حساب کاربری</h1>
               </div><!-- /.col -->
               <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                         <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                         <li class="breadcrumb-item active">پروفایل</li>
                    </ol>
               </div>
          </div><!-- /.row -->
     </div><!-- /.container-fluid -->
</div>
<div class="container">
     <div class="row p-2">
          <div class="col-md-12 p-2">
               <div class="main-body bg-white shadow-lg p-3 mt-3">

                    <div class="row mt-5 gutters-sm">
                         <div class="col-md-4 mb-3">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                             <img src="<%-req.user.image%>" alt="Admin" class="rounded-circle" width="150"
                                                  height="150">
                                             <div class="mt-3">
                                                  <h4><%=req.user.name+" "+req.user.family%></h4>

                                                  <a href="/admin/account/edit" class="btn btn-primary">ویرایش
                                                       اطلاعات</a>
                                                  <button data-toggle="modal" data-target="#passwordModal"
                                                       class="btn btn-outline-primary">ویرایش رمز
                                                       عبور</button>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="card mt-3">
                                   <ul class="list-group list-group-flush">
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0"><i class="fa fa-globe text-primary font24 mx-2"></i>
                                                  وبسایت</h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.website)? req.user.socials.website : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0">
                                                  <i class="fa fa-whatsapp text-success font26 mx-2"></i> واتساپ
                                             </h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.whatsapp)? req.user.socials.whatsapp : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0"><i class="fa fa-telegram text-info font24 mx-2"></i>
                                                  تلگرام </h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.telegram)? req.user.socials.telegram : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0"><i class="fa fa-instagram text-danger font24 mx-2"></i>
                                                  اینستاگرام </h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.instagram)? req.user.socials.instagram : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0"><i class="fa fa-github text-dark font24 mx-2"></i>
                                                  گیت هاب </h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.github)? req.user.socials.github : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                        <li
                                             class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                             <h6 class="mb-0"><i class="fa fa-linkedin text-primary font24 mx-2"></i>
                                                  لینکدین  </h6>
                                             <span class="text-secondary" dir="ltr">
                                                  <%=(req.user.socials.linkedin)? req.user.socials.linkedin : 'فاقد لینک یا ایدی' %>
                                             </span>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         <div class="col-md-8">
                              <div class="card mb-3">
                                   <div class="card-body">
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <h6 class="mb-0">نام و نام خانوادگی </h6>
                                             </div>
                                             <div class="col-sm-9 text-secondary">
                                                  <%=req.user.name+" "+req.user.family%> 
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <h6 class="mb-0">ایمیل</h6>
                                             </div>
                                             <div class="col-sm-9 text-secondary">
                                                  <%=req.user.email%>
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <h6 class="mb-0">تلفن</h6>
                                             </div>
                                             <div class="col-sm-9 text-secondary">
                                                  
                                                  <div class="col-sm-9 text-secondary" dir="ltr">
                                                       <%-(req.user.tele)?req.user.tele : "فعلا شماره تلفنی وارد نشده"%>
                                                  </div>
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <h6 class="mb-0">شماره موبایل</h6>
                                             </div>
                                             <div class="col-sm-9 text-secondary" dir="ltr">
                                                  <%-(req.user.mobile)?req.user.mobile : "فعلا شماره موبایلی وارد نشده"%>
                                             </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                             <div class="col-sm-3">
                                                  <h6 class="mb-0">آدرس</h6>
                                             </div>
                                             <div class="col-sm-9 text-secondary" dir="ltr">
                                                  <%-(req.user.address)?req.user.address : "فعلا آدرسی وارد نشده"%>
                                             </div>
                                        </div>
                                        <hr>
                                       
                                   </div>
                              </div>
                              <div class="row gutters-sm">
                                   <div class="col-sm-12 mb-3">
                                        <div class="card h-100">
                                             <div class="card-body">
                                                  <h6 class="d-flex align-items-center mb-3">درباره ما </h6>
                                                  <hr />
                                                  <%=req.user.text%>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<div dir="rtl" class="modal fade mt-5" id="passwordModal" tabindex="-1" aria-labelledby="modalAlertTitle"
     aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header ">
                    <h5 class="modal-title" id="modalAlertTitle">تغییر دادن رمز عبور </h5>
                    <button type="button" class="btn-close btnClosemodal text-danger" data-dismiss="modal"
                         aria-label="Close">
                         <i class="fa fa-close"></i>
                    </button>
               </div>
               <form action="/admin/profile/edit/password" method="post">
                    <div class="modal-body" id="bodyAlert">
                         <input type="hidden" name="user_id" value=<%-user._id%>>
                         <div class="col-md-12 my-2">
                              <label>رمز فعلی :</label>
                              <div class="input-group">
                                   <div class="input-group-prepend">
                                        <a href="" class="input-group-text old_password">
                                             <i class="fa fa-eye text-primary op_eye"></i>
                                        </a>
                                   </div>
                                   <input type="password" class="form-control text-left password old_password" dir="ltr"
                                        name="old_password" placeholder=" رمز فعلی">

                              </div>
                         </div>
                         <div class="col-md-12 my-2">
                              <label>رمز عبور جدید :</label>
                              <div class="input-group">
                                   <div class="input-group-prepend">
                                        <a href="" class="input-group-text new_password">
                                             <i class="fa fa-eye np_eye text-primary"></i>
                                        </a>
                                   </div>
                                   <input type="password" class="form-control text-left password new_password" dir="ltr"
                                        name="new_password" placeholder=" رمز عبور جدید">
                              </div>
                         </div>
                         <div class="col-md-12 my-2">
                              <label>تکرار رمز عبور :</label>
                              <div class="input-group">
                                   <div class="input-group-prepend">
                                        <a href="" class="input-group-text confirm_password">
                                             <i class="fa fa-eye cp_eye text-primary"></i>
                                        </a>
                                   </div>
                                   <input type="password" class="form-control text-left password confirm_password"
                                        dir="ltr" name="confirm_password" placeholder="تکرار رمز عبور">

                              </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-info okAlert text-white">به روز رسانی</button>
                    </div>
               </form>
          </div>
     </div>
</div>
<%- include(viewPath("layouts/messagesAdmin"), {messages})%>
<style>
     .password::placeholder {
          text-align: right;
          direction: rtl;
     }
</style>
<script>
     

     document.querySelector("a.old_password").addEventListener("click", (e) => {
          e.preventDefault();
          let type = document.querySelector("input.old_password").getAttribute("type");
          if (type === "password") {
               document.querySelector("input.old_password").type = "text";
               document.querySelector(".op_eye").classList.remove("fa-eye")
               document.querySelector(".op_eye").classList.add("fa-eye-slash")
          } else {
               document.querySelector("input.old_password").type = "password";
               document.querySelector(".op_eye").classList.add("fa-eye")
               document.querySelector(".op_eye").classList.remove("fa-eye-slash")
          }
     })
     document.querySelector("a.new_password").addEventListener("click", (e) => {
          e.preventDefault();
          let type = document.querySelector("input.new_password").getAttribute("type");
          if (type === "password") {
               document.querySelector("input.new_password").type = "text";
               document.querySelector(".np_eye").classList.remove("fa-eye")
               document.querySelector(".np_eye").classList.add("fa-eye-slash")
          } else {
               document.querySelector("input.new_password").type = "password";
               document.querySelector(".np_eye").classList.add("fa-eye")
               document.querySelector(".np_eye").classList.remove("fa-eye-slash")
          }
     })
     document.querySelector("a.confirm_password").addEventListener("click", (e) => {
          e.preventDefault();
          let type = document.querySelector("input.confirm_password").getAttribute("type");
          if (type === "password") {
               document.querySelector("input.confirm_password").type = "text";
               document.querySelector(".cp_eye").classList.remove("fa-eye")
               document.querySelector(".cp_eye").classList.add("fa-eye-slash")
          } else {
               document.querySelector("input.confirm_password").type = "password";
               document.querySelector(".cp_eye").classList.add("fa-eye")
               document.querySelector(".cp_eye").classList.remove("fa-eye-slash")
          }
     })
</script>