<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 border-bottom">
     <h1 class="h2">مشخصات حساب</h1>
     <div class="col-sm-6">
          <ol class="breadcrumb bg-transparent float-sm-left">
               <li class="breadcrumb-item"><a href="/admin">داشبورد</a></li>
               <li class="breadcrumb-item active">اطلاعات حساب</li>
          </ol>
     </div>
</div>
<div class="p-4 pt-0 ">
     <div class="col m-0 bg-white shadow-lg p-2">
          <div class="d-flex justify-content-between mb-3 border-bottom-1">
     <h2 class="col-2">کاربران</h2>
     <div class="col-10"></div>
 </div>
<hr>
<form class="form-horizontal" action="" method="">
     <div class="form-group row">
         <div class="col-2">
             <label for="teacher" class="control-label font-weight-bold">وضعیت کاربر</label>
             <select name="teacher" id="teacher" size="1" class="form-control" >
                 <option value="0">تایید شده</option>
                 <option value="1">تایید نشده</option>
             </select>
         </div>
         <div class="col-2 mt-auto">
             <button type="submit" class="btn btn-danger">فیلتر</button>
         </div>
         <div class="col-8">
         </div>
     </div>
</form>
<hr>
<div class="table-responsive">
     <table class="table table-striped table-bordered">
         <thead>
         <tr>
             <th>نام کاربر</th>
             <th>شماره تماس</th>
             <th>استان</th>
             <th>شهر</th>
             <th>وضعیت کاربر</th>
             <th>تنضیمات</th>
         </tr>
         </thead>
         <tbody>
              
          <%users.forEach(user => { %>
               <tr>
                    <td><%= user.name+" "+user.family %></td>
                    <td><%= user.gender %></td>
                    <td><%= user.mobile %></td>
                    <td><%= //ps[user.province-1] %></td>
                    <td><%= //cs[user.province-1][user.city-1] %></td>
                    <td><%= (user.done)?"تایید شده":"تایید نشده" %></td>
                    <td>
                         <form action="/admin/users/<%=user._id%>/detail" method="get">
                              <button type="submit" class="btn btn-danger">ویرایش</button>
                         </form>
                    </td>
               </tr>
          <% }) %>
          </tbody>
     </table>
 
     <div class="d-flex justify-content-center">
          <ul class="pagination">  
               <li class="page-item active"><a class="page-link" href="#"><span>1</span></a></li>
               <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
               <li class="page-item"><a class="page-link" href="?page=2">&raquo;</a></li>
          </ul>
     </div>
         
</div>
     </div>
</div>

     