<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 border-bottom">
    <h1 class="h2">مشخصات حساب</h1>
    <div class="col-sm-6">
        <ol class="breadcrumb bg-transparent float-sm-left">
            <li class="breadcrumb-item"><a href="/admin">داشبورد</a></li>
            <li class="breadcrumb-item active">آموزشگاه ها</li>
        </ol>
    </div>
</div>
<div class="p-4 pt-0 ">
    <div class="col m-0 bg-white shadow-lg p-2">
        <div class="d-flex justify-content-between mb-3 border-bottom-1">

            <h2 class="col-2">آموزشگاه ها</h2>

            <div class="col-8">

            </div>

            <div class="col-2">
                <div class="btn-group">
                    <a href="/admin/schools/add" class="btn btn-sm btn-primary">افزدن آموزشگاه جدید</a>
                </div>
            </div>

        </div>
        <hr>
        <form action="/admin/schools" method="GET">
            <div class="form-group row">
                <div class="col-3">
                    <label for="school" class="control-label font-weight-bold">وضعیت آموزشگاه</label>
                    <select name="active" class="form-control">
                        <option value="all">همه ی آموزشگاه ها ... </option>
                        <option value="true">فعال</option>
                        <option value="false">غیر فعال</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="school" class="control-label font-weight-bold">بر اساس استان</label>
                    <select name="province" id="countySel" class="form-control">
                    </select>
                </div>
                <div class="col-3">
                    <label for="school" class="control-label font-weight-bold">بر اساس شهر</label>
                    <select name="city" id="stateSel" class="form-control">
                    </select>
                </div>
                <div class="col-3">
                    <label for="school" class="control-label font-weight-bold">بر اساس شهر</label>
                    <input type="text" name="name" placeholder ="اسم آموزشگاه" class="form-control">
                </div>
                <div class="col-2 m-2 p-2">
                    <button type="submit" class="btn btn-danger form-control">
                        فیلتر
                        <span class="fa fa-filter"
                    </button>
                </div>
                <div class="col-6">

                </div>
            </div>

        </form>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>وضعیت آموزشگاه</th>
                        <th>نام آموزشگاه</th>
                        <th>شماره تماس</th>
                        <th>مدیر آموزشگاه</th>
                        <th>استان</th>
                        <th>شهر</th>
                        <th>تنضیمات</th>
                    </tr>
                </thead>
                <tbody>
                    <% schools.forEach(school => { %>
                    <tr>
                        <td><%= (school.active)?"فعال":"غیر فعال" %></td>
                        <td><%= school.name %></td>
                        <td><%= school.tele %></td>
                        <td><%= school.manager %></td>
                        <td><%= ps[school.province] %></td>
                        <td><%= cs[school.province][school.city-1] %></td>
                        <td>
                            <a href="" data-schoolid="<%=school._id%>" class="btn btn-danger font25 p-2 deleteSchool">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="/admin/schools/edit/<%=school._id%>" class="btn btn-info font25 p-2">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include(viewPath("layouts/messagesAdmin"), {messages})%>
<%- include(viewPath("layouts/cities"),{edit : false, province:0, city:0})%>
<div dir="rtl" class="modal fade mt-5" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalAlertTitle">پیغام سیستمی</h5>
                <button type="button" class="btn-close btnClosemodal text-danger" data-dismiss="modal"
                    aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body text-center text-danger font36 font-weight-bolder" id="bodyAlert">
                <p class="text-dark my-2 font20">
                    آیا مایل به حذف مربی میباشید ؟
                </p>
            </div>
            <div class="modal-footer">
                <form class="d-inline deleteFormschool">
                    <button type="button" data-dismiss="modal"
                        class="btn btn-info text-white cancelBtnSkill">انصراف</button>
                    <button type="submit" class="btn btn-danger text-white">حذف</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let deleteBtns = document.querySelectorAll(".deleteSchool");
    let deleteFormschool = document.querySelector(".deleteFormschool");
    deleteBtns.forEach(btn => {
        btn.addEventListener("click", function (e) {
            e.preventDefault();
            $("#deleteModal").modal("show");
            let id = this.getAttribute("data-schoolid");
            deleteFormschool.setAttribute("action", `/admin/schools/${id}?_method=delete`);
            deleteFormschool.setAttribute("method", `POST`);
        })
    })
</script>